{% extends "base.html"%}
{% load static %}
{% block info %}
<div class="header_text">
    环境配置
</div>
<div class="form_eir">
    <select >
        <option value="111">11111111111</option>
    </select>
    <form class="form_css">
        {% csrf_token %}
        <input type="text"  placeholder="环境名称..." name="eirname">
        <input type="text" placeholder="环境地址..." name="eirurl">
        <button id="addbutton">确认添加</button>
        <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
        <script>
            $(document).ready(function(){
            $("#addbutton").click(function() {
                alert("提交");
                $.ajax({
                    url: "/eir_setting/",
                    async: false,//这一步是非常重要的，作用是设置为同步执行
                    type: "POST",
                    data: { "eirname": $("input[name=eirname]").val(),
                            "eirurl":$("input[name=eirurl]").val()},
                    dataType: "json",
                    success: function (data) {
                        alert("success");
                    }
                });
                return false
            })
            })
        </script>
    </form>
</div>
<div class="form_table">
    <table>
        <thead>
        <tr>
            <th>环境ID</th>
            <th>环境名称</th>
            <th>环境URL</th>
            <th>创建时间</th>
            <th>修改时间</th>
        </tr>
        </thead>
        <tbody>
        {% for data in datas %}
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.host_name}}</td>
                <td>{{data.host_v}}</td>
                <td>{{data.create_time}}</td>
                <td>{{data.update_time}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock info%}